@tailwind base;
@tailwind components;
@tailwind utilities;

.breaking-news-headline {
  display: inline-block;
  animation: marquee 10s linear infinite;
}

.breaking-news-item {
  display: inline-block;
  margin-right: 2rem; 
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}


.custom-scrollbar::-webkit-scrollbar {
    height: 2px; 
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 10px; 
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
  }
  